html {
    scroll-behavior: smooth;
}

/* BODY */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #303030;
    margin: 0;
    padding: 0;
}

/* NAV BAR */

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
  
nav ul button {
    background-color: #ececec;
    color: #303030;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 12px;
    border-style: none;
}
  
nav ul button:hover {
    background-color: pink;
}

/* SECTION (THIS EDITS ALL SECTIONS) */

section {
    margin: 3rem;
    padding: 3rem;
    display: block;
}

section h1 {
    font-size: 3rem;
}

section h2 {
    font-size: 2rem;
}

section p {
   font-size: 0.75rem;
}

/* ABOUT */

section#about {
    background-color: #fad0c9;
}

section#about img {
    width: 9rem;
    max-width: 300px;
    height: 10rem;
    border-radius: 25px;
    margin: 1rem 0;
}

/* PROJECTS */

section#projects {
    background-color: #ff948d;
}

section#projects button {
    background-color: #ececec;
    color: #303030;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 12px;
    border-style: none;
}

/* SKILLS */

section#skills {
    background-color: #fc7991;
}

/* EXPERIENCE */

section#experience {
    background-color: #fc6784;
}

/* EDUCATION */

section#education {
    background-color: #ff386e;
}

/* CONTACT */

section#contact {
    background-color: #fd1c48;
}

section#contact button {
    background-color: #ececec;
    color: #303030;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 12px;
    border-style: none;
}